<div class="question">
  <p><%= @question %></p>
  <p><%= "- You" %></p>
</div>
<div class="answer">
  <p><%= @coach_answer %></p>
  <p><%= "- Stupid Coach" %></p>
</div>
<div class="new">
<%= link_to "Ask a new question", "/ask" %>
</div>
